[Unit]
Description=A service that forwards the chronyd command socket via DBus
After=chronyd.service
Requires=chronyd.service
PartOf=chronyd.service

[Service]
ExecStart=/usr/bin/chrony-dbus-service
Restart=always
RestartSec=10s
KillMode=process
TimeoutSec=infinity
User=root
Group=root

[Install]
WantedBy=network.target
